.header {
  background-color: white;
  display: flex;
  justify-content: space-between;
  padding-left: 20px;
  padding-top: 28px;
}

body,
html {
  height: 100%;
  width: 100%;
  margin: auto 0;
  padding: auto 0;
}

.navbar-container {
  display: flex;
}

h5 {
  padding-right: 20px;
}

.home-body {
  display: flex;
  justify-content: space-between;
  padding-right: 150px;
  padding-left: 100px;
  font-size: 35px;
  background-color: whitesmoke;
  padding-top: 30px;
}

.home-body-content {
  display: flex;
  flex-direction: column;
}

.footer-container {
  display: flex;
  background-color: white;
  height: 100%;
  width: 100%;
  justify-content: center;

  padding: 30px;
}
a {
  text-decoration: none;
  color: black;
}

li {
  list-style-type: none;
  color: #ffc107;
}
.main-body {
  background-color: whitesmoke;
}
.icons {
  font-size: 40px;
}
.pages-title {
  text-align: center !important;
}

.logo {
  color: #eeb303 !important;
  font-size: 35px !important;
  font-family: cursive;
}

.landing-color1 {
  color: rgb(108, 196, 8);
}
.landing-color2 {
  color: rgb(34, 165, 218);
}
.landing-color3 {
  color: rgb(59, 25, 25);
}

.col-4 {
  justify-content: center;
}

.biography-body {
  font-size: 22px !important;
}

MDBListGroupItem {
  justify-content: center !important;
}
